<main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
  <div class="lg:grid grid-cols-12 gap-x-5">
    <!--  Side Nav  -->
    <aside class="py-6 px-2 sm:px-6 md:py-0 md:px-0 col-span-2">
      <nav class="space-y-1" style="padding-right: 10px">
        <div *ngIf="isUserVerified">
          <a *ngFor="let item of navItems" routerLinkActive="active-profile-link" routerLink="{{this.item.link}}" class="text-gray-900 hover:text-gray-900 hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium">
            <mat-icon class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"  svgIcon="{{item.icon}}"></mat-icon>
            <span class="truncate"> {{item.title}} </span>
          </a>
        </div>
        <div *ngIf="!isUserVerified">
          <a routerLinkActive="active-profile-link" routerLink="verify" class="text-gray-900 hover:text-gray-900 hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium">
            <mat-icon class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"  svgIcon="heroicons_solid:eye"></mat-icon>
            <span class="truncate"> Verify </span>
          </a>
        </div>
        <a (click)="logOut()" style="background-color: #D0021B" class="text-black cursor-pointer  group rounded-md px-3 py-2 flex items-center text-sm font-medium">
          <mat-icon class="text-black text-black flex-shrink-0 -ml-1 mr-3 h-6 w-6"  svgIcon="heroicons_outline:logout"></mat-icon>
          <span class="truncate"> Log Out </span>
        </a>
      </nav>
    </aside>

    <!-- Payment details -->
    <div class="space-y-6 sm:px-6 md:px-0 col-span-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
