<div #deleteConfirmationModal class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen pt-4 px-16 pb-20 text-center sm:p-0">
    <div
      [ngClass]="{
      'animate__fadeIn': isAskingForConfirmation,
      'animate__fadeOut': !isAskingForConfirmation
      }"
      (click)="closeDeleteModal()"
      class="animate__faster animate__animated fixed inset-0 dark-overlay transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div
      [ngClass]="{
      'animate__zoomIn': isAskingForConfirmation,
      'animate__zoomOut': !isAskingForConfirmation
      }"
      class="animate__animated animate__faster relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:mx-12  sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Remove {{this.product.productName}} from cart?</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Are you sure you want to remove {{this.product.productName}} from cart? This action cannot be undone.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="deleteFromCart()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 !bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">Remove</button>
        <button (click)="closeDeleteModal()" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="flex py-6">
  <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
    <img src="{{this.product.thumbnail}}"
         alt="{{this.product.productName}} thumbnail" class="h-full w-full object-cover object-center">
  </div>

  <div class="ml-4 flex flex-1 flex-col">
    <div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3>
          {{this.product.productName}}
        </h3>
        <p *ngIf="this.product.price == this.product.discountedPrice" class="ml-4 text-gray-700">RS. {{this.product.price}}.00</p>
        <p *ngIf="this.product.price != this.product.discountedPrice" class="ml-4 text-gray-700 text-sm">RS.  <del>{{this.product.price}}.00</del> {{this.product.discountedPrice}}.00</p>
      </div>
      <p class="mt-1 text-sm text-gray-700">Total Price: RS. {{this.product.totalPrice}}.00</p>
<!--      <p *ngIf="this.product.totalPrice == this.product.totalRetailPrice" class="mt-1 text-sm text-gray-700">Total Price: RS. {{this.product.totalPrice}}.00</p>-->
<!--      <p *ngIf="this.product.totalPrice != this.product.totalRetailPrice" class="mt-1 text-sm text-gray-700">Total Price: <del>RS. {{this.product.totalRetailPrice}}.00</del> RS. {{this.product.totalPrice}}.00</p>-->
      <p *ngIf="this.isCartProductTotallyOutOfStock || !this.isCartProductActive" class="mt-1 text-sm text-red-700">Out of stock</p>
      <p *ngIf="this.isCartProductPartiallyOutOfStock && this.isCartProductActive" class="mt-1 text-sm text-red-700">
        Only {{this.product.inStockQuantity}} left in stock
      </p>
<!--      <p *ngIf="!this.isCartProductActive" class="mt-1 text-sm text-red-700">-->
<!--        Out Of Stock-->
<!--      </p>-->

    </div>
    <div class="flex flex-1 items-end justify-between text-sm mt-4">
      <div *ngIf="this.isCartProductActive && !this.isCartProductTotallyOutOfStock" class="flex flex-col justify-center">
        <p class="text-gray-700">Quantity</p>
        <div class="h-6 w-32 bg-gray-100 mt-2 rounded-lg">
          <div class="flex flex-row h-6 w-full rounded-lg relative bg-transparent">
            <button (click)="decrementQuantity()" class="text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
              <span class="m-auto text-xl font-thin">−</span>
            </button>
            <input min="1" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange()" [ngModelOptions]="{standalone: true}" id="product-quantity" type="number"
                   class="number-counter outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                   value="0"/>
            <button (click)="incrementQuantity()" class="text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
              <span class="m-auto text-xl font-thin">+</span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!this.isCartProductActive || this.isCartProductTotallyOutOfStock">

      </div>
      <div class="flex">
        <button (click)="confirmForDelete()" type="button" class="font-medium text-red-600 hover:text-red-500">Remove</button>
      </div>
    </div>
  </div>
</div>
