<div class="relative inline-block text-left w-full min-h-[44px]">
  <div id="menu-button-wrapper-{{this.id}}" class="min-h-[44px]">
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div id="menu-items-wrapper-{{this.id}}" class="w-full origin-top-right absolute right-0 rounded-md bg-white focus:outline-none z-10" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">

  </div>
</div>
