<!--<div id="chart" *ngIf="this.series">-->
<!--  <span class="underline text-black text-5xl font-extrabold">Profit</span>-->
<!--  <apx-chart-->
<!--    [series]="this.series"-->
<!--    [chart]="chartOptions.chart"-->
<!--    [dataLabels]="chartOptions.dataLabels"-->
<!--    [plotOptions]="chartOptions.plotOptions"-->
<!--    [yaxis]="chartOptions.yaxis"-->
<!--    [legend]="chartOptions.legend"-->
<!--    [fill]="chartOptions.fill"-->
<!--    [stroke]="chartOptions.stroke"-->
<!--    [tooltip]="chartOptions.tooltip"-->
<!--    [xaxis]="chartOptions.xaxis"-->
<!--  ></apx-chart>-->
<!--</div>-->
