<div *ngIf="imagePath" class="h-full w-full relative">
  <img
    src="{{imagePath}}"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDropped($event)"
    (mouseover)="onMouseOverImage()"
    (mouseleave)="imageHovered = false"
    alt="{{fileName}}"
    class="rounded-md h-full w-full">
  <div  class="bg-warn-800 p-1 flex flex-col justify-center items-center rounded-sm absolute text-white right-0 top-0 mr-2 mt-2">
    <mat-icon (click)="deleteImage()" class="cursor-pointer text-white h-5 w-5" svgIcon="heroicons_outline:trash"></mat-icon>
  </div>


</div>

<div
  *ngIf="!imagePath"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDropped($event)"
  [ngClass]="{'bg-gray-400/10': dragging}"
  class="h-full w-full mt-1 flex justify-center items-center px-6 pt-5 pb-6 border-2 border-dashed rounded-md">
  <div class="space-y-1 text-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
      <path
        d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="flex text-xs text-gray-600">
      <label for="{{this.id}}"
             class="relative cursor-pointer rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none">
        <span>Upload a file</span>
        <input (change)="onFileChanged($event)" id="{{this.id}}" name="file-upload" accept="image/*" type="file" class="sr-only">
      </label>
      <p class="pl-1">or drag and drop</p>
    </div>
    <p class="text-xs text-gray-500">
      PNG, JPG up to 200kb
    </p>
  </div>
</div>
