<div class="w-full flex flex-col">
    <!--------Hero Section Start------>
<app-lending-page></app-lending-page>

  <div class="bg-gray-50 h-100 w-full flex flex-col items-center">
    <div class=" flex justify-center items-center">
      <p class="text-2xl md:text-5xl font-bold text-black text-center mt-16">
        Reframing the Eyewear Game – Buy Glasses Online
      </p>
    </div>
    <div class="w-2/4 flex justify-center items-center">
      <p class="text-2xl font-normal text-black text-center">
        We make it easy to find quality <span class="text-primary font-bold">  eyeglasses and eyelenses</span> online.
        With thousands of glasses, <span class="text-primary font-bold outline-1 outline-primary">Virtual Try-On </span>, and frames for every budget —
        think of us as the one-stop shop for all your eyewear needs.
      </p>
    </div>
    <div class="flex flex-row items-center">
      <button class="w-48 mt-6 primary-button" (click)="goToGlasses()">
        Buy Glasses
      </button>
      <button class="w-48 mt-6 ml-6 primary-button p-12" (click)="goToLenses()">
        Buy Lenses
      </button>
    </div>
  </div>



  <home-new-product-carousel></home-new-product-carousel>

  <app-events></app-events>


  <div class="bg-gray-100 h-100 w-full flex flex-col items-center justify-center">
    <div class=" flex justify-center items-center">
      <p class="text-3xl md:text-3xl font-bold text-black text-center mt-6">
        Glasses And Lenses Online Made Easy
      </p>
    </div>
    <div class="w-2/4 flex justify-center items-center">
      <p class="text-lg font-normal text-black text-center mb-6">
        EyeBuyDirect is the online glasses store of your dreams (according to you!).
        Since 2021, we’ve been putting a focus on affordable, high-quality eyewear,
        which is why our customers consistently rate us the best place to buy glasses. From our on-trend designs to our everyday prices, see why our
        <span class="text-primary font-bold">affordable frame glasses</span>, sunglasses, and <span class="text-primary font-bold">
        blue light filtering
        lenses</span> have landed everywhere from Vogue.com to Buzzfeed, and more — all thanks to you!
      </p>
    </div>
  </div>


<!---Follow Section Start---->

  <section class="max-w-full pt-16 mx-auto bg-white">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 md:px-2 lg:px-8 py-10 flex items-center">
        <video class="rounded" src="assets/video/try-on-video.webm" autoplay ></video>
      </div>
      <div class="flex flex-col justify-center w-full md:w-1/2 px-4 xl:pr-6">
        <div class="pl-4">
          <p class="text-2xl md:text-5xl font-bold text-black mt-6">
            Virtual Try-On
          </p>
          <p class="text-base xl:text-xl text-black font-medium pt-4">
            It’s not magic, but pretty close: See yourself in your favorite frames with our Virtual Try-On feature.
          </p>
          <button (click)="goToGlasses()" class="primary-button mt-12">Try Frames Now!</button>
        </div>
      </div>
    </div>
  </section>

  <!---Follow Section Ends---->



  <div class="px-12 py-12 bg-gray-50 w-full">
    <div class="lg:flex flex-row items-center justify-center">
      <div class="w-1/3 px-12 py-12">
        <p class="text-4xl font-bold leading-9  text-black">@reflectionstore</p>
        <p class="text-base leading-6 mt-4 text-gray-900">
          Real fans. Real faces. Shop our greatest hits with the #EBDFamily as your inspo.
        </p>
        <button (click)="goToGlasses()"  class="primary-button py-4 mt-6">Shop the look</button>

        <p class="text-2xl font-bold leading-9 text-gray-800 mt-12">Follow Us</p>

        <div class="flex flex-row items-center mt-2">
          <a href="#" target="blank" aria-label="twitter" class="text-black hover:text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-medium" viewBox="0 0 448 512">
              <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </a>
          <a href="#" target="blank" aria-label="medium" class="text-black hover:text-primary ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-medium" width="30" height="25" viewBox="0 0 512 512">
              <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-2 w-1/2 gap-4">
        <div class="grid-cols-2">
          <img src="assets/images/HomePageImages/purple_sun_glasses.jpg" alt="apartment design" class="w-full rounded-md h-full sm:block hidden" />
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4">
          <img src="assets/images/HomePageImages/pink_sun_glasses.jpg" class="w-full rounded-md" alt="kitchen" />
          <img src="assets/images/HomePageImages/blue_lense.jpg" class="w-full rounded-md" alt="sitting room" />
          <img src="assets/images/HomePageImages/pink_sun_glasses.jpg" class="w-full rounded-md" alt="sitting room" />
          <img src="assets/images/HomePageImages/grey_lense.jpg" class="w-full rounded-md" alt="sitting room" />
        </div>
    </div>
  </div>
</div>
</div>
